<% include ./partials/header %>
	<div class="container container-fluid">
		<div class="col-md-4">
			<h2>Dashboard</h2>
			<br>
			<a href="/profile" class="btn btn-success btn-lg btn-block">Profile</a>
			<br><br>
			<a href="/search" class="btn btn-success btn-lg btn-block">Search Roommates</a>
			<br><br>
			<a href="/recommend" class="btn btn-success btn-lg btn-block">Get Recommendation</a>
		</div>
		<div id="sb_widget"></div>
	</div>

	<script src="/chat/SendBird.min.js"></script>
	<script src="/chat/build/widget.SendBird.js"></script>
	<script>
	  //console.log(<% app_Id %>);
	  var appId= "<%= app_Id %>";
	  console.log(appId);
	  var userId = "<%= user.google.id %>";
	  console.log(userId);
	  var nickname = "<%= user.google.name %>";
	  console.log(nickname);
	  sbWidget.startWithConnect(appId, userId, nickname).then(function() {
	    console.log('Chat Started with user id: ');
	  });
	</script>
<% include ./partials/footer %>
