<% include ./partials/header %>
	<div class="container container-fluid">
		<div class="col-md-4">
			<h2>Dashboard</h2>
			<br>
			<a href="/profile" class="btn btn-success btn-lg btn-block">Profile</a>
			<br><br>
			<a href="/search" class="btn btn-success btn-lg btn-block">Search Roommates</a>
			<br><br>
			<a href="/recommend" class="btn btn-success btn-lg btn-block">Get Recommendation</a>
		</div>
	</div>
<% include ./partials/chat %>
<% include ./partials/footer %>
