<% include ./partials/header %>

<div class="container container-fluid">
    <div class="row col-md-6 col-md-offset-3">
        <h2>Search a Roommate!</h2>
        <form id="searchForm" method="POST" action="/searchResult">
            <div class="form-group">
                <label for="roomSharing"> Roommate Sharing: Do you want to share? </label>
                <select class="form-control" id='roomSharing' value='2' name='roomSharing'>
                    <option value='1' >Yes</option>
                    <option value='2' >No</option>
                    <option value='3' selected='selected'>Does not matter</option>
                </select>
            </div>
            <div class="form-group">
                <label for="drink"> Drink: Do you want a drinking buddy?</label>
                    <select class="form-control" id='drink' value='2' name='drink'>
                        <option value='1' >Yes</option>
                        <option value='2' >No</option>
                        <option value='3' selected='selected'>Does not matter</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="veg"> Veg/Non-veg: Are you a meat lover?</label>
                    <select class="form-control" id='veg' value='2' name='veg'>
                        <option value='1' >Yes</option>
                        <option value='2' >No</option>
                        <option value='3' selected='selected'>Does not matter</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="smoke"> Smoke: Okay with a smoker?</label>
                    <select class="form-control" id='smoke' value='2' name='smoke'>
                        <option value='1' selected='selected'>Yes</option>
                        <option value='2' >No</option>
                        <option value='3' selected='selected'>Does not matter</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="livingPreference"> Male/Female/Doesn't matter</label>
                    <select class="form-control" id='livingPreference' value='2' name='livingPreference'>
                        <option value='1' >Male</option>
                        <option value='2' >Female</option>
                        <option value='3'selected='selected' >Does not matter</option>
                    </select>
            </div>
                <div class="form-group">
                    <label for="roomSharing"> Pets: Are you pet friendly?</label>
                        <select class="form-control" id='roomSharing' value='2' name='pet'>
                            <option value='1' >Yes</option>
                            <option value='2' >No</option>
                            <option value='3' selected='selected'>Does not matter</option>
                        </select>

            </div>
                <div class="form-group">
                    <label for="roomSharing"> Visitors: Are you okay with Visitors?</label>
                        <select class="form-control" id='roomSharing' value='2' name='visitors'>
                            <option value='1' >Yes</option>
                            <option value='2' >No</option>
                            <option value='3' selected='selected'>Does not matter</option>
                        </select>
            </div>
            <div class="form-group">
                <label for="age"> Age: Any age preferences?</label><br>
                    Minimum Age: <input type="text" class="form-group" name="minAge"></input><br>
                    Maximum Age: <input type="text" class="form-group" name="maxAge"></input>
            </div>
            <div class="form-group">
                <label for="budget"> Budget:Any Budget constraints?</label><br>
                    Minimum Budget: <input type="text" name="minBudget"></input><br>
                    Maximum Budget: <input type="text" name="maxBudget"></input>
            </div>
           <!-- <div class="form-group">
                <label for="age"> Earliest Move in date</label>
                    <select class="form-control" id='age' value='2' name='moveInDate'>
                        <option value='1' >Male</option>
                        <option value='2' >Female</option>
                        <option value='3' selected='selected' >Does not matter</option>
                    </select>
            </div> -->
            <div class="form-group">
                <input class="form-control btn btn-primary" type="submit" />
            </div>
        </form>
    </div>
</div>

<% include ./partials/footer %>