
<body class="bgbodyUserprofile">
  <div class="container profile-container">
    <div class="row">
      <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center trans">
        {{#each errors}}
           <div class="alert alert-danger">{{text}}</div>
        {{else}}

        {{/each}}
          <div class="row">
              <div class="col-lg-12 col-sm-12 col-12"></div>
          </div>
           {{#if connectmessage}}
            <div class="user-message user-message-top">
              Your connection email has been sent successfully with your contact details! If the person is interested then he will contact you!!
            </div>
           {{/if}}
      </div>
    </div>
  </div>
</body>