<nav class="navbar navbar-expand-sm navbar-dark bg-primary navbar-fixed-top nav-opac">
    <div class="container">
  <label class="navbar-brand cor-capt-profile"><b>RoommateFinder</b></label>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {{#if hasloggedin}}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/landing">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
  </div>
  {{/if}}
</nav>

{{!-- navbar-inverse navbar-fixed-top --}}